@import "tailwindcss";

/* @tailwind utilities; */

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}
:root {
  --custom-blue: #2997ff;
  --custom-zinc: #101010;
  --custom-green: #a020f0;
}

body {
  color: white;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
}

canvas {
  touch-action: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-height {
  height: calc(100vh - 60px);
}

.btn {
  padding-left: 1.25rem; /* px-5 */
  padding-right: 1.25rem;
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem;
  border-radius: 1.5rem; /* rounded-3xl */
  background-color: var(--custom-blue);
  margin-top: 1.25rem; /* my-5 */
  margin-bottom: 1.25rem;
  border: 1px solid transparent;
  color: white;
  transition: background 0.2s, color 0.2s, border 0.2s;
}

.btn:hover {
  background-color: transparent;
  border-color: var(--custom-blue);
  color: var(--custom-blue);
}

.color-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 9999px;
  background-color: #bdbdbd;
  backdrop-filter: blur(8px);
}

.size-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border-radius: 9999px;
  background-color: #bdbdbd;
  backdrop-filter: blur(8px);
  margin-left: 0.75rem;
  gap: 0.25rem;
}

.size-btn {
  width: 2.5rem; /* w-10 */
  height: 2.5rem; /* h-10 */
  font-size: 0.875rem; /* text-sm */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 9999px;
  transition: all 0.2s ease;
}

.common-padding {
  padding-top: 5rem; /* py-20 */
  padding-bottom: 5rem;
  padding-left: 1.25rem; /* px-5 */
  padding-right: 1.25rem;
}

@media (min-width: 640px) {
  .common-padding {
    padding-top: 8rem; /* py-32 */
    padding-bottom: 8rem;
    padding-left: 2.5rem; /* px-10 */
    padding-right: 2.5rem;
  }
}

.section-heading {
  color: #bdbdbd;
  font-weight: 500;
  opacity: 0;
  transform: translateY(5rem); /* translate-y-20 */
  font-size: 1.875rem; /* text-3xl */
  margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3rem; /* md:text-5xl */
  }
}

@media (min-width: 1024px) {
  .section-heading {
    font-size: 3.75rem; /* lg:text-6xl */
    margin-bottom: 0;
  }
}

.feature-text {
  color: #bdbdbd;
  max-width: 28rem;
  font-size: 1.125rem;
  font-weight: 600;
  opacity: 0;
  transform: translateY(100px);
}

@media (min-width: 768px) {
  .feature-text {
    font-size: 1.25rem;
  }
}

.feature-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1.25rem;
}

@media (min-width: 768px) {
  .feature-text-container {
    flex-direction: row;
    margin-top: 4rem;
  }
}

.feature-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.5);
  opacity: 0;
}

.feature-video-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
}

@media (min-width: 768px) {
  .feature-video-container {
    flex-direction: row;
  }
}

.link {
  color: var(--custom-blue);
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.25rem; /* text-xl */
  opacity: 0;
  transform: translateY(5rem); /* translate-y-20 */
}

.link:hover {
  text-decoration: underline;
}

.control-btn {
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 100%;
  background-color: #bdbdbd;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.875rem;
  color: #bdbdbd;
  opacity: 0;
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .hero-title {
    margin-bottom: 0;
  }
}

.hiw-title {
  text-align: center;
  font-weight: 600;
  font-size: 2.25rem;
}

@media (min-width: 768px) {
  .hiw-title {
    font-size: 4.5rem;
  }
}

.hiw-subtitle {
  text-align: center;
  color: #bdbdbd;
  font-weight: 600;
  font-size: 1.25rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .hiw-subtitle {
    font-size: 1.5rem;
  }
}

.hiw-video {
  position: absolute;
  width: 95%;
  height: 90%;
  border-radius: 56px;
  overflow: hidden;
}

.hiw-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 6rem;
}

@media (min-width: 768px) {
  .hiw-text-container {
    flex-direction: row;
  }
}

.hiw-text {
  color: #bdbdbd;
  font-size: 1.25rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .hiw-text {
    font-weight: 600;
  }
}

.hiw-bigtext {
  color: white;
  font-size: 1.875rem;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .hiw-bigtext {
    font-size: 3rem;
    font-weight: 600;
  }
}

.video-carousel_container {
  position: relative;
  width: 88vw;
  height: 35vh;
}

@media (min-width: 640px) {
  .video-carousel_container {
    width: 70vw;
    height: 50vh;
  }
}

@media (min-width: 768px) {
  .video-carousel_container {
    height: 70vh;
  }
}

.g_fadeIn {
  opacity: 0;
  transform: translateY(100px);
}
